<div>
    <mat-toolbar color="primary">
      <button class="homebtn" mat-button routerLink="">My App</button>
      <span class="example-spacer"></span>
      <div class="butn1 p-3">
        <button class="p-3" mat-button>All Category</button>
        <button mat-button>Contact Us</button>
      </div>

      <div class="row">
      <div class="col-5">
          <button mat-raised-button routerLink="login">Login</button>
      </div>
      <div class="col-3">
          <button mat-raised-button routerLink="register">Register</button>
      </div>
  </div>
    </mat-toolbar>
  </div>
