.example-card {
    max-width: 400px;
    
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .main{
    margin-left: 400px;
  }
  .btnz{
    margin-left: 820px;
  }
  